<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcx.talentrecruitmentsystem.mapper.MemberApplyMapper">
    <insert id="insertMemberApply" parameterType="MemberApply">
        insert into member_apply(account,identity,apply_time,status)
        values(#{account},#{identity},now(),#{status})
    </insert>
</mapper>